  <section class="scrollable padder-lg w-f-md"> <a href="#refresh" class="pull-right text-muted m-t-lg" data-toggle="class:fa-spin" ><i class="icon-refresh i-lg inline" id="refresh"></i></a>
                <h2 class="font-thin m-b">Upload Music </h2>
                <div class="row row-sm">
                  

            <div class="row">
                      <div class="col-sm-6">
                        <section class="panel panel-default">
                          <header class="panel-heading font-bold">{{downloadStatus}}</header>
                          <div class="panel-body">
                            
                            <form role="form" ng-submit="sendPost()">
                              <div class="form-group">
                                <label>Mp3 Url Address</label>
                                <input ng-model="url" type="text" class="form-control" placeholder="Enter URL">
                              </div>
                           
                            
                              <button type="submit" class="btn btn-sm btn-default">Submit</button>
                            </form>


                          </div>
                        </section>
                      </div>

                          <div class="col-sm-6">
                        
                        <section class="panel panel-default">
                          <header class="panel-heading font-bold">{{downloadStatus}}</header>
                          <div class="panel-body">
                            
                            <form role="form">
                              <div class="form-group">
                                <label>Search for Songs</label>
 <input ng-model="songSearch" type="text" class="form-control" placeholder="Search for Songs here" ng-model-options="{debounce: 1000}">
                              </div>
                           
                            </form>


                          </div>
                        </section>

                      </div>
                         <div class="row row-lg">

                    </div>
                                      <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" ng-repeat="loadedSong in loadedSongs">
                    <div class="item">
                      <div class="pos-rlt">
                       
                        <div class="item-overlay opacity r r-2x bg-black">
                         
                          <div class="center text-center m-t-n"> <a ng-click="playnewSound(loadedSong, $index)"><i class="icon-control-play i-2x"></i></a> </div>
                          <div class="bottom padder m-b-sm"> <a href="#" class="pull-right"> <i class="fa fa-heart-o"></i> </a> <a href="#"> <i class="fa fa-plus-circle"></i> </a> </div>
                        </div>
                        <a href="#"><img src="{{loadedSong.thumbnail}}" alt="" class="r r-2x img-full"></a> </div>
                      <div class="padder-v"> <a href="#" class="text-ellipsis">{{loadedSong.title}}</a> <a ng-click="getArtist(loadedSong.artist.name)" class="text-ellipsis text-xs text-muted">{{loadedSong.artist.name}}</a> </div>
                    </div>
                  </div>

              </div>

</section>