  <section class="scrollable padder-lg w-f-md" style="margin-bottom:40px;"> 
           
                <div class="row row-sm">
                  
<div class="row">

              <div class="col-sm-12">
            <h3 class="font-thin">{{ roomname }}</h3>

            <section class="panel panel-default">

                <div class="panel-body">

                <form ng-submit="runSearch()">
                <div class="form-group">

                <input ng-model="songSearch" type="text" class="form-control input-lg" placeholder="Search for Songs here">
                <br>
                <button type="submit" data-toggle="modal" data-target="#myModal" class="btn btn-lg btn-dark">Search</button>
                
                
                </div>

                </form>
                </div>

            </section>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Search Results</h4>
      </div>
      <div class="modal-body">
                <div class="row">

                      <div class="col-xs-6 col-sm-3" ng-repeat="loadedSong in loadedSongs">

                        <div class="item">
                          <div class="pos-rlt">
                            <div class="item-overlay opacity r r-2x bg-black">
                              <div class="center text-center m-t-n"> <a ng-click="addtoQueue(loadedSong, $index)"><i class="fa fa-play-circle i-3x"></i></a> </div>
                            </div>
                            <img src="{{loadedSong.thumbnail}}" alt="" class="r r-2x img-full"> </div>
                          <div class="padder-v"> <a class="text-ellipsis">{{loadedSong.title}}</a> <a href="#" class="text-ellipsis text-xs text-muted">{{loadedSong.artist.name}}</a> </div>
                        </div>
                      </div>
        
            
                    </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>




    <div class="row">
                   <div class="col-md-6">
                    <h3 class="font-thin">Live Queue <a ng-click="startQueue()" class="btn btn-s-md btn-success pull-right">Start Play</a></h3>
                    <div class="list-group bg-white list-group-lg no-bg auto"> 

                      <a  ng-repeat="loadedSong in incomingQueue track by $index" class="list-group-item clearfix"> 
                   

                            <span class="pull-right h2 text-muted m-l">{{$index + 1}} </span> 
                            <span ng-click="removeFromQueue($index)" class="pull-left thumb-md avatar m-r"> 
                            <img src="{{ loadedSong.thumbnail }}" /> </span> 

                            <span class="clear"> <span>{{loadedSong.title}}  </span> 

                            <small class="text-muted clear text-ellipsis">by {{loadedSong.artist.name}}
                             </small>
                             </span>




                      </a> 



                     </div>
                  </div>





</div>


</section>

